@model MartialTime.Models.Form.UpdatePasswordForm;
@{
    ViewData["Title"] = "Mes informations";
    var student = ViewBag.Message;
}

    <div class="main-panel">        
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Mes informations</h4>
                            <div class="form-group">
                                <label>Nom</label>
                                <input type="text" class="form-control form-control-lg" placeholder="Nom" aria-label="lastname" value="@student.Nom" disabled>
                            </div>
                            <div class="form-group">
                                <label>Prénom</label>
                                <input type="text" class="form-control form-control-lg" placeholder="Prénom" aria-label="surname" value="@student.Prenom" disabled>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control form-control-lg" placeholder="Email" aria-label="Email" value="@student.Email" disabled>
                            </div>
                            <div class="form-group">
                                <label>Téléphone</label>
                                <input type="tel" class="form-control form-control-lg" placeholder="Téléphone" aria-label="Tel" value="@student.Telephone">
                            </div>
                        <button type="submit" class="btn btn-primary mb-2">Enregistrer</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <form asp-controller="Profil" asp-action="UpdatePassword" method="post">
                                <h4 class="card-title">Modifier mot de passe</h4>
                                <div class="form-group">
                                    <label>Ancien mot de passe</label>
                                    <input type="password" asp-for="OldPassword" class="form-control form-control-lg" placeholder="Ancien mot de passe" aria-label="Password" required>
                                </div>
                                <div class="form-group">
                                    <label>Nouveau mot de passe</label>
                                    <input type="password" asp-for="NewPassword" class="form-control form-control-lg" placeholder="Nouveau mot de passe" aria-label="NewPassword" required>
                                </div>
                                <div class="form-group">
                                    <label>Confirmer mot de passe</label>
                                    <input type="password" asp-for="ConfirmPassword" class="form-control form-control-lg" placeholder="Confirmer mot de passe" aria-label="ConfirmPassword" required>
                                </div>
                                <button type="submit" class="btn btn-primary mb-2">Enregistrer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>